{erl_opts, [debug_info]}.

{src_dirs, [
    "src",
    "src/nodes",
    "src/tools/fs",
    "src/tools/todo",
    "src/tools/human"
]}.

%% 内部依赖
{deps, [
    {beamai_core, {path, "../beamai_core"}},
    {beamai_llm, {path, "../beamai_llm"}},
    {beamai_memory, {path, "../beamai_memory"}},
    {beamai_tools, {path, "../beamai_tools"}}
]}.
