{erl_opts, [debug_info]}.

{src_dirs, [
    "src",
    "src/behaviours",
    "src/data",
    "src/types",
    "src/utils",
    "src/http",
    "src/storage",
    "src/graph",
    "src/graph/core",
    "src/graph/state",
    "src/graph/builder",
    "src/graph/runner",
    "src/graph/pregel",
    "src/graph/patterns"
]}.

{deps, []}.
